body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}


header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#1f2937;
    padding: 12px 120px 60px 120px;
}

header > section > h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 12px;
}
.header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.first {
    display: flex;
    justify-content: space-between;
}

.first-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%
}
.first-left > h1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}
.first-left > p{
    color: #e5e7eb;
    font-size: 18px;
}

.first-left > button {
    width: 25%;
    background-color: #3882F6;
    border-radius: 5px;
    border: 0;
    color:#fff;
    font-size: 18px;
}

/* Start of the second section of the landing page */
.second{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 12px 120px 60px 120px;
}
.second > h3{
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.item > p{
    overflow-wrap: break-word;
}

.item{
    width: 125px;
}
.item > img {
    border: 2px solid blue;
    width: 125px;
    height: 125px;
}

/* This is the start of the Third section */

.third{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px 120px 60px 120px;
}
.third > p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.third > aside {
    align-self: flex-end;
    font-weight: 800;
}



footer{
    margin-top: auto;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    width: 100%;
    text-align:center;
    padding: 15px 0px;
}
